<div class="conteiner">
    <h1>Login</h1>
    <hr>
    <form id="login" action="/api/session/login" method="post">
        <input id="email" type="text" placeholder="Email" required>
        <input id="password" type="text" placeholder="Email" required>
        <button id="loginButton" type="submit">Sign in</button>
    </form>
    <span> <a href="/register" target="_self">Register</a></span>
</div>

{{#if failLogin}}
    <script type="text/javascript">
        alert('Login failed.');
    </script>
{{/if}}