<body>
    <div id="logo">
        <img class="logo" src="img/logo.png" alt="VALSAA" >
    </div>
    <h1>Welcome to Valsaa Store</h1>
    
    <p>Login to continue</p>
    <a href="http://localhost:8080/login" class="button">Login</a>
    <br />
</body>