<body>
    <h1>Welcome to Valsaa Store</h1>
    <p>Login to continue</p>
    <a href="http://localhost:8080/api/session/login" class="button">Login</a>
    <br />
    <div id="logo">
        <img class="logo" src="public/img/logo.png" alt="VALSAA" >
    </div>

</body>